#navbar{
    height: 60px;
    background-color: #0f1111;
    conte
}

a{
    margin-right: 200px;
    text-decoration: none;
}

#logo{
    color: #fdb603;
    text-decoration: none;
    font-size: 25px;
}

button{
    background-color: #fdb603;
}
